.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

#gameBoard {
    height: 600px;
    width: 600px;
    background-color: rgb(136, 209, 68);
    border: 15px solid rgb(111, 109, 109);
}